<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/s_config.js"></script>
    <script src="/static/js/complete-payment.js"></script>
    <script src="/static/js/products.js"></script>
</head>
<script>createProductList();</script>
<script>setItemPrice();</script>

<body class="container">
    <header>
        <%- include('../components/header'); %>
    </header>
    <main>
        <div>
        <h1 class="pagetitle">Your Payment Status</h1>

        <div class="sr-payment-summary completed-view">
            <h4>
              CheckoutSession response:
            </h4>
          </div>
          <div class="sr-section completed-view">
            <div class="sr-callout">
              <pre id="payment-message" class="hidden"></pre>
            </div>
          </div>  
        </div>
        <div class="recommendation">
            <h2 class="subtitle">Recommendation:</h2>
            <div>
                <ul class="productlist" id="productlist">
                </ul>
            </div>
        </div>
        <div class="backtohome">
            <button onclick="window.location.href = '/';">Back to Home</button>
        </div>
    </main>
    <footer>
        <%- include('../components/footer'); %>
    </footer>
    <ul>
    </ul>
</body>
</html>