<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
    <script src="/static/js/products.js"></script>
</head>
<script>createProductList();</script>
<body class="container">
    <header>
        <%- include('../components/header'); %>
    </header>
    <main>
        <h1 class="pagetitle">Product Lineup</h1>
        <div>
            <ul class="productlist" id="productlist">
            </ul>
        </div>
    </main>
    <footer>
        <%- include('../components/footer'); %>
    </footer>
    <ul>
    </ul>
</body>
</html>