<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <div class="cart">
        <div class="count_icon hidden">
            <span id="count">0</span>
        </div>
      <a class="cart_icon" href="cart">
          <img src="/static/img/cart.png" alt="">
      </a>
    </div>
  </nav>